# Binarios compilados
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Archivos temporales y logs
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuraciones de entorno
.env

# Carpetas de dependencias externas (si las usas)
vendor/

# Archivos de IDEs
.vscode/
.idea/
*.swp

# Archivos de cobertura de pruebas
coverage.out
